@charset "UTF-8";
/*
    -------------------------------------------
    公共样式
    -------------------------------------------
*/
.btn-list {
  text-align: center;
  line-height: .5rem; }
  .btn-list .btn {
    height: .30rem;
    line-height: .26rem;
    float: none;
    border-radius: .05rem;
    text-align: center;
    font-size: .14rem;
    width: 1rem;
    cursor: pointer; }
    .btn-list .btn.btn-submit {
      border: 1px solid #378bd3;
      background: #378bd3;
      color: #fff;
      margin: 0 .2rem 0 .2rem; }
      .btn-list .btn.btn-submit.submit-gray {
        background-color: #6da7d1;
        border: 1px solid #6da7d1;
        color: #ffffff; }

.ui-star-red {
  color: red;
  position: absolute;
  right: 0; }

body {
  min-height: 100vh; }

/*
    -------------------------------------------
    登录页面
    -------------------------------------------
*/
.login-view {
  width: 3rem;
  height: 2.2rem;
  line-height: .4rem;
  margin-left: auto;
  margin-right: auto;
  color: #607D8B;
  margin-top: 2rem;
  position: relative;
  perspective: 500; }
  .login-view > div {
    transition: 0.6s;
    transform-style: preserve-3d; }
    .login-view > div.rotate {
      transform: rotateY(180deg); }
    .login-view > div > article {
      transform-style: preserve-3d;
      background-color: #dadaef;
      box-shadow: 0.1rem 0.1rem 0.3rem #aeaec7;
      backface-visibility: hidden;
      position: absolute;
      height: 2.2rem;
      width: 3rem;
      padding: .1rem;
      border-radius: .1rem; }
      .login-view > div > article > header {
        text-align: center; }
      .login-view > div > article:first-child {
        transform: rotateY(0deg); }
      .login-view > div > article:last-child {
        transform: rotateY(-180deg);
        cursor: pointer; }
      .login-view > div > article > p {
        text-indent: 2em; }
      .login-view > div > article > form > .container > .row > div > label {
        position: relative;
        width: 25%;
        text-align: right;
        display: inline-block;
        padding-right: .1rem; }
      .login-view > div > article > form > .container > .row > div > input {
        border-radius: .05rem;
        border: 1px solid #607D8B;
        padding-left: .05rem;
        background-color: #fff;
        font-size: .13rem;
        height: .29rem;
        width: 60%;
        outline: none; }
      .login-view > div > article > form > label {
        color: #fff;
        line-height: .14rem;
        display: block;
        height: .14rem;
        font-size: .14rem;
        text-align: right;
        margin-top: .14rem;
        cursor: pointer; }

/*
    -------------------------------------------
    首页
    -------------------------------------------
*/
/*
    -------------------------------------------
    一些公共提示弹框等
    -------------------------------------------
*/
.toast {
  text-align: right;
  padding: 0 .1rem 0 .1rem; }
  .toast > .ngdialog-overlay {
    display: none; }
  .toast > .ngdialog-content {
    display: inline-block;
    top: .6rem;
    position: relative;
    line-height: 2em;
    padding: 0 1em 0 1em;
    border-radius: .05rem;
    color: white; }
    .toast > .ngdialog-content > .ngdialog-close {
      display: none; }
  .toast.info-level > .ngdialog-content {
    background-color: #607D8B; }
  .toast.warn-level > .ngdialog-content {
    background-color: #f2dc16; }
  .toast.error-level > .ngdialog-content {
    background-color: #E91E63; }

/*# sourceMappingURL=root.css.map */
