@charset "UTF-8";
/*
    -------------------------------------------
    公共样式
    -------------------------------------------
*/
body {
  min-height: 100vh; }
  body .btn-list {
    text-align: center;
    line-height: .5rem; }
    body .btn-list .btn {
      height: .30rem;
      line-height: .26rem;
      float: none;
      border-radius: .05rem;
      text-align: center;
      font-size: .14rem;
      width: 1rem;
      cursor: pointer; }
      body .btn-list .btn.btn-submit {
        border: 1px solid #378bd3;
        background: #378bd3;
        color: #fff;
        margin: 0 .2rem 0 .2rem; }
        body .btn-list .btn.btn-submit.submit-gray {
          background-color: #6da7d1;
          border: 1px solid #6da7d1;
          color: #ffffff; }
  body .ui-star-red {
    color: red;
    position: absolute;
    right: 0; }
  body .github {
    position: fixed;
    background-color: #000005;
    width: 2.4rem;
    line-height: .3rem;
    transform: rotate(45deg);
    text-align: center;
    top: .5rem;
    right: -.5rem;
    color: #ffffff;
    font-size: .14rem;
    border: 2px dashed #ffffff;
    outline: 3px solid #000005; }

/*
    -------------------------------------------
    登录页面
    -------------------------------------------
*/
.login-view {
  width: 3rem;
  height: 2.2rem;
  line-height: .4rem;
  margin-left: auto;
  margin-right: auto;
  color: #FFF;
  margin-top: 2rem;
  position: relative; }
  .login-view > div {
    transition: 1s;
    transform-style: preserve-3d; }
    .login-view > div.rotate {
      transform: rotateY(180deg); }
    .login-view > div > article {
      background-color: #000007;
      box-shadow: 0.1rem 0.1rem 0.3rem #020214;
      backface-visibility: hidden;
      position: absolute;
      height: 2.2rem;
      width: 3rem;
      padding: .1rem;
      border-radius: .1rem; }
      .login-view > div > article > header {
        text-align: center; }
      .login-view > div > article:first-child {
        transform: rotateY(0deg); }
      .login-view > div > article:last-child {
        transform: rotateY(-180deg);
        cursor: pointer; }
      .login-view > div > article > p {
        text-indent: 2em; }
      .login-view > div > article > form > .container > .row > div > label {
        position: relative;
        width: 25%;
        text-align: right;
        display: inline-block;
        padding-right: .1rem; }
      .login-view > div > article > form > .container > .row > div > input {
        border-radius: .05rem;
        border: 1px solid #dadaf1;
        padding-left: .05rem;
        background-color: #faffbd;
        font-size: .13rem;
        height: .29rem;
        width: 60%;
        outline: none; }
      .login-view > div > article > form > label {
        color: #fff;
        line-height: .14rem;
        display: block;
        height: .14rem;
        font-size: .14rem;
        text-align: right;
        margin-top: .14rem;
        cursor: pointer; }

/*
    -------------------------------------------
    首页
    -------------------------------------------
*/
.main-view {
  padding: 0 .1rem .1rem .1rem; }
  .main-view > li {
    text-align: center;
    font-size: 0;
    padding-top: .1rem;
    white-space: nowrap;
    line-height: .5rem; }
    .main-view > li > label {
      width: .3rem;
      line-height: .3rem;
      display: inline-block;
      font-size: .16rem;
      background-color: #000002;
      color: #fff;
      border-radius: .15rem; }
    .main-view > li > span {
      border-radius: .15rem;
      font-size: .16rem;
      line-height: .3rem;
      width: 3rem;
      display: inline-block;
      text-align: left;
      background-color: #8d8d96;
      color: #fff;
      margin-left: .15rem;
      padding-left: .15rem;
      cursor: pointer;
      box-shadow: 0.1rem 0.1rem 0.3rem #8d8d96;
      transition-property: all;
      transition-duration: 1s;
      transition-timing-function: easy-in; }
      .main-view > li > span:hover {
        background-color: #000002;
        box-shadow: 0.1rem 0.1rem 0.3rem #000002; }

/*
    -------------------------------------------
    例子页面
    -------------------------------------------
*/
.directive-view .uiStudy {
  text-align: center;
  width: 3rem; }
  .directive-view .uiStudy li {
    text-align: left;
    padding: .1rem;
    line-height: .3rem;
    background-color: gray;
    margin: .1rem;
    width: 3rem;
    display: inline-block;
    color: #fff;
    cursor: pointer; }

/*
    -------------------------------------------
    一些公共提示弹框等
    -------------------------------------------
*/
.toast {
  text-align: left;
  padding: 0 .1rem 0 .1rem; }
  .toast > .ngdialog-overlay {
    display: none; }
  .toast > .ngdialog-content {
    display: inline-block;
    top: .6rem;
    position: relative;
    line-height: 2em;
    padding: 0 1em 0 1em;
    border-radius: .05rem;
    color: white; }
    .toast > .ngdialog-content > .ngdialog-close {
      display: none; }
  .toast.info-level > .ngdialog-content {
    background-color: #607D8B; }
  .toast.warn-level > .ngdialog-content {
    background-color: #f2dc16; }
  .toast.error-level > .ngdialog-content {
    background-color: #E91E63; }

/*# sourceMappingURL=root.css.map */
